@using System.Web.Mvc.Html
@model FastFood.Models.Food

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<section class="content">
    
    <div class="form_block">
        <div class="container">
            <div class="row">
                <div class="grid_11">
                    <br />
                    <br />
                    <br/>
                    <h2> Add Food</h2>
                    @using (Html.BeginForm(null, null, FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        @Html.AntiForgeryToken()


                        <label class="name">
                            <input type="text" name="foodName" placeholder="Food Name:" value="" data-constraints="@@Required "/>

                        </label>
                        <div class="clear"></div>
                        <label class="phone">
                            <input type="text" id="foodPrice" name="foodPrice" placeholder="Price:" value="" data-constraints="@@Required"/>

                        </label>
                        <input type="hidden" name="restaurantId" value="@ViewData["restaurantId"]"/>
                        <br/>
                        <input type="file" name="file" />
                        <input type="submit" value="add"/>

                    }


                </div>
            </div>
        </div>
    </div>
</section>
