
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    FastFood.Models.Restaurant restaurant = (FastFood.Models.Restaurant)ViewData["Restaurant"];
}
<section class="content">

    <div class="container">
        <div class="row">
            <div class="grid_4">
                <div class="banner">
                    <div class="gall_block">
                        <img src="@restaurant.restaurantImage" alt="">
                        <div class="bann_capt ">
                            <div class="maxheight">
                                <img src="/Content/Images/icon1.png" alt="">
                                <div class="bann_title">@restaurant.restaurantName</div>
                                <a href="#">more</a>
                            </div> <!--End of maxheight -->
                        </div>
                    </div>
                </div>
            </div> <!--End of Grid 4 -->
            <div class="grid_8">
                
            </div>
        </div>
    </div>
    </section>

            


