
<div class="grid_4">
    <div class="block1">

        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br><br><br>
        <br><br><br>

    </div>
</div>

<div class="grid_12">
    <div class="box">
        <div class="row">
            <div class="grid_5 preffix_1">





                <h2>Welcome</h2>
                It is good to see you here in Gediz caferia<br>
                Lost your appetite?<br> The foods here are superlative. I bet you will ask for more.<br>
                <a href="#" class="btn">more</a>
            </div>
            <div class="grid_5">
                <h2>Feel the Savor of Life</h2>

                <li><ul>There is no love sincerer than the love of food.</ul></li>
                <li><ul>One cannot think well, love well, sleep well, if one has not dined well</ul></li>
                <li><ul>All you need is love. But a little chocolate now and then doesn't hurt</ul></li>

                <a href="#" class="btn">more</a>
            </div>
        </div>
    </div>
</div>
<div class="grid_12">
    <h2>Dishes for You to Try</h2>
</div>
<div class="gallery">
    <div class="grid_4"><a href="/Content/Images/big1.jpg" class="gall_item"><img src="/Content/Images/page1_img4.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
    <div class="grid_4"><a href="/Content/Images/big2.jpg" class="gall_item"><img src="/Content/Images/page1_img5.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
    <div class="grid_4"><a href="/Content/Images/big3.jpg" class="gall_item"><img src="/Content/Images/page1_img6.jpg" alt=""></a><a href="#" class="link1">+</a><div class="clear"></div></div>
</div>
<div class="grid_4">
    <h2>Testimonials</h2>
    <blockquote class="bq1">
        <img src="/Content/Images/page1_img7.jpg" alt="" class="img_inner fleft noresize">
        <div class="extra_wrapper">
            <div class="bq_title color1">Prof Haluk Gumuşkaya</div>
            This is a very nice system. In fact it will help both the students and the sellers utilize their time efficiently
        </div>
    </blockquote>
</div>
<div class="grid_4">
    <h2>What’s new</h2>
    <div class="block2">
        <time datetime="2016-01-11">11<br>JAN</time>
        <div class="extra_wrapper">
            <div class="text1"><a href="#">All restaurants </a></div>will be open on Saturdays during the final exams week. Snack n Roll will also be open on Sunday
        </div>
    </div>
    <div class="block2">
        <time datetime="2015-12-20">20<br>DEC</time>
        <div class="extra_wrapper">
            <div class="text1"><a href="#">Snack n Roll </a></div>will start to remain open until 9PM so that students won't be studying with empty stomach.
        </div>
    </div>
</div>
<div class="grid_4">
    <h2>Opening Hours</h2>
    <ul class="shed">
        <li><span>Snack n Roll:</span> 8AM - 7PM</li>
        <li><span>Jet Tost:</span> 8AM - 6PM</li>
        <li><span>Chicken in the Kitchen:</span> 8AM - 5PM</li>
        <li><span>Lizza Köfte:</span> 8AM - 5PM</li>
        <li><span>Salad Point:</span> 8AM - 5PM</li>
    </ul>
</div>
    </div>
  </div>
</section>