
@{
    ViewBag.Title = "Reservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    FastFood.Models.Food food = (FastFood.Models.Food)ViewData["Food"];

}
<section class="content">
    <div class="ic">More Website Templates @@ AppState TemplateMonster.com - July 30, 2014!</div>
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <h2>Reserve Your Food</h2>
                <img src="@food.foodImage" alt="" class="img_inner fleft inn__1">
                <div class="extra_wrapper">
                    
                    <p>Food Name : @food.foodName </p>
                    <p>Food Price: @food.foodPrice</p>
                    <p>Food Restaurant: @food.restaurant.restaurantName.</p>
                    
                </div>
                <div class="clear"></div>
                <a href="" class="btn">ORDER</a>
                
            </div>
            
        </div>
    </div>
</section>

